<% provide(:title,"拠点")%>

<h1>拠点一覧</h1>
  <div class = "container">
    <table class = "table table-condensed table-bordered table-striped" id="table-users">
      <thead>
        <tr>
          <th colspan = "2"></th>
          <th colspan = "2"></th>
          <th>拠点番号</th>
          <th>拠点名</th>
          <th>勤怠種類</th>
        </tr>
        <tr>
          <th colspan = "2"></th>
          <th colspan = "2"></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th colspan = "7"></th>
        </tr>
      </thead>
    </table>
   
    <table class = "table table-condensed table-bordered table-hover">
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
    </table>
  </div> 
</div>

