<% provide(:title, @user.name) %>

<h1><%= @user.name %></h1>

<div class = "show_body">
  <table class = "table table-bordered table-condensed user-table">
    <thead>
      <tr>
        <th>日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = 11>実績</th>
        <th colspan ="5">所定外勤務</th>
      </tr>
    </thead>
      
      <tr>
        <td></td>
        <td></td>
        <td colspan = 6>出社</td>
        <td colspan = 3>退社</td>
        <td>在社時間</td>
        <td>備考</td>
        <td colspan = 2>終了予定時間</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    
    
      <tr>
        <td><%= @user.department%></td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td></td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td>時間外時間</td>
        <td>業務処理内容</td>
        <td>指示者確認印</td>
      </tr>
  </table>
</div>