// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 10px;
}

h1 {
  font-size: 120px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.show_body{
  padding-top: 50px;
  text-align: center;
}

.modal-body {
  vertical-align: middle;
  text-align: center;
}
