@import "bootstrap-sprockets";
@import "bootstrap";

h1{
  text-align: center;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.user-table{
  margin-top: 25px;
}

#table-users{
  td{
    vertical-align: middle;
  }
}

.container{
  margin-top: 50;
}

.btn-edit{
  margin-top: 20px;
}

.label-title{
  margin-top: 15px;
}